<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datcent.project.module.cbttj.mapper.CbttjMapper">
    
    <resultMap type="Cbttj" id="CbttjResult">
        <result property="id"    column="id"    />
        <result property="cbtId"    column="cbt_id"    />
        <result property="jbfyId"    column="jbfy_id"    />
        <result property="jc"    column="jc"    />
        <result property="xs"    column="xs"    />
        <result property="wj"    column="wj"    />
        <result property="yj"    column="yj"    />
        <result property="count"    column="count"    />
        <result property="createTime"    column="create_time"    />
        <result property="countTime"    column="count_time"    />
        <result property="cbtName"    column="cbt_name"    />
        <result property="jbfyName"    column="jbfy_name"    />
    </resultMap>
	
	<sql id="selectCbttjVo">
        select id, cbt_id, jbfy_id, jc, xs, wj, yj,jbfy_name, count, create_time, count_time, cbt_name from sys_cbttj
    </sql>
	
    <select id="selectCbttjList" parameterType="Cbttj" resultMap="CbttjResult">
        <include refid="selectCbttjVo"/>
        <where>  
            <if test="id != null and id != ''"> and id like concat('%',#{id},'%')</if>
             <if test="cbtId != null and cbtId != ''"> and cbt_id like concat('%',#{cbtId},'%')</if>
             <if test="jbfyId != null and jbfyId != ''"> and jbfy_id like concat('%',#{jbfyId},'%')</if>
             <if test="jc != null and jc != ''"> and jc like concat('%',#{jc},'%')</if>
             <if test="xs != null and xs != ''"> and xs like concat('%',#{xs},'%')</if>
             <if test="wj != null and wj != ''"> and wj like concat('%',#{wj},'%')</if>
             <if test="yj != null and yj != ''"> and yj like concat('%',#{yj},'%')</if>
             <if test="count != null and count != ''"> and count like concat('%',#{count},'%')</if>
             <if test="createTime != null and createTime != ''"> and create_time like concat('%',#{createTime},'%')</if>
             <if test="countTime != null and countTime != ''"> and count_time like concat('%',#{countTime},'%')</if>
             <if test="cbtName != null and cbtName != ''"> and cbt_name like concat('%',#{cbtName},'%')</if>
            <if test="jbfyName != null and jbfyName != ''"> and jbfy_name like concat('%',#{jbfyName},'%')</if>
         </where>
    </select>
    
    <select id="selectCbttjById" parameterType="Integer" resultMap="CbttjResult">
        <include refid="selectCbttjVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCbttj" parameterType="Cbttj">
        insert into sys_cbttj
		<trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null  ">id,</if>
           <if test="cbtId != null  and cbtId != ''  ">cbt_id,</if>
           <if test="jbfyId != null  and jbfyId != ''  ">jbfy_id,</if>
           <if test="jc != null  and jc != ''  ">jc,</if>
           <if test="xs != null  and xs != ''  ">xs,</if>
           <if test="wj != null  and wj != ''  ">wj,</if>
           <if test="yj != null  and yj != ''  ">yj,</if>
           <if test="count != null  and count != ''  ">count,</if>
           <if test="createTime != null  ">create_time,</if>
           <if test="countTime != null  and countTime != ''  ">count_time,</if>
           <if test="cbtName != null  and cbtName != ''  ">cbt_name,</if>
            <if test="jbfyName != null  and jbfyName != ''  ">jbfy_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null  ">#{id},</if>
        <if test="cbtId != null  and cbtId != ''  ">#{cbtId},</if>
        <if test="jbfyId != null  and jbfyId != ''  ">#{jbfyId},</if>
        <if test="jc != null  and jc != ''  ">#{jc},</if>
        <if test="xs != null  and xs != ''  ">#{xs},</if>
        <if test="wj != null  and wj != ''  ">#{wj},</if>
        <if test="yj != null  and yj != ''  ">#{yj},</if>
        <if test="count != null  and count != ''  ">#{count},</if>
        <if test="createTime != null  ">#{createTime},</if>
        <if test="countTime != null  and countTime != ''  ">#{countTime},</if>
        <if test="cbtName != null  and cbtName != ''  ">#{cbtName},</if>
            <if test="jbfyName != null  and jbfyName != ''  ">#{jbfyName},</if>
         </trim>
    </insert>
	 
    <update id="updateCbttj" parameterType="Cbttj">
        update sys_cbttj
        <trim prefix="SET" suffixOverrides=",">
            <if test="cbtId != null  and cbtId != ''  ">cbt_id = #{cbtId},</if>
            <if test="jbfyId != null  and jbfyId != ''  ">jbfy_id = #{jbfyId},</if>
            <if test="jc != null  and jc != ''  ">jc = #{jc},</if>
            <if test="xs != null  and xs != ''  ">xs = #{xs},</if>
            <if test="wj != null  and wj != ''  ">wj = #{wj},</if>
            <if test="yj != null  and yj != ''  ">yj = #{yj},</if>
            <if test="count != null  and count != ''  ">count = #{count},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="countTime != null  and countTime != ''  ">count_time = #{countTime},</if>
            <if test="cbtName != null  and cbtName != ''  ">cbt_name = #{cbtName},</if>
            <if test="jbfyName != null  and jbfyName != ''  ">jbfy_name = #{jbfyName},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCbttjById" parameterType="Integer">
        delete from sys_cbttj where id = #{id}
    </delete>
	
    <delete id="deleteCbttjByIds" parameterType="String">
        delete from sys_cbttj where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryByCbtAndMonth"  resultType="Cbttj"  >
        SELECT  jc,xs,wj,yj from sys_cbttj s where s.count_time=#{time} AND s.cbt_id=#{cbtId} AND s.jbfy_id=#{fyId};
    </select>

    <select id="queryCbtIdByFyId"   resultType="java.util.HashMap">
        SELECT  DISTINCT cbt_id,cbt_name from sys_cbttj where jbfy_id=#{jbfyId} and count_time=#{time}
    </select>

    <select id="queryJcByFyAndMonth"  resultType="java.lang.String"  >
        SELECT  jc  from sys_cbttj   where  cbt_id=#{id} and count_time=#{time}
    </select>
    <select id="queryXsByFyAndMonth"  resultType="java.lang.String"  >
        SELECT  xs  from sys_cbttj   where  cbt_id=#{id} and count_time=#{time}
    </select>
    <select id="queryWjByFyAndMonth"  resultType="java.lang.String"  >
        SELECT  wj  from sys_cbttj   where  cbt_id=#{id} and count_time=#{time}
    </select>
    <select id="queryYjByFyAndMonth"  resultType="java.lang.String"  >
        SELECT  yj  from sys_cbttj   where  cbt_id=#{id} and count_time=#{time}
    </select>
    
</mapper>