<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datcent.project.module.ruTask.mapper.RuTaskMapper">
    
    <resultMap type="RuTask" id="RuTaskResult">
        <result property="id"    column="ID_"    />
        <result property="rev"    column="REV_"    />
        <result property="executionId"    column="EXECUTION_ID_"    />
        <result property="procInstId"    column="PROC_INST_ID_"    />
        <result property="procDefId"    column="PROC_DEF_ID_"    />
        <result property="name"    column="NAME_"    />
        <result property="parentTaskId"    column="PARENT_TASK_ID_"    />
        <result property="description"    column="DESCRIPTION_"    />
        <result property="taskDefKey"    column="TASK_DEF_KEY_"    />
        <result property="owner"    column="OWNER_"    />
        <result property="assignee"    column="ASSIGNEE_"    />
        <result property="delegation"    column="DELEGATION_"    />
        <result property="priority"    column="PRIORITY_"    />
        <result property="createTime"    column="CREATE_TIME_"    />
        <result property="dueDate"    column="DUE_DATE_"    />
        <result property="category"    column="CATEGORY_"    />
        <result property="suspensionState"    column="SUSPENSION_STATE_"    />
        <result property="tenantId"    column="TENANT_ID_"    />
        <result property="formKey"    column="FORM_KEY_"    />
    </resultMap>
	
	<sql id="selectRuTaskVo">
        select ID_, REV_, EXECUTION_ID_, PROC_INST_ID_, PROC_DEF_ID_, NAME_, PARENT_TASK_ID_, DESCRIPTION_, TASK_DEF_KEY_, OWNER_, ASSIGNEE_, DELEGATION_, PRIORITY_, CREATE_TIME_, DUE_DATE_, CATEGORY_, SUSPENSION_STATE_, TENANT_ID_, FORM_KEY_ from act_ru_task
    </sql>
	
    <select id="selectRuTaskList" parameterType="RuTask" resultMap="RuTaskResult">
        <include refid="selectRuTaskVo"/>
        <where>  
            <if test="id != null and id != ''"> and ID_ like concat('%',#{id},'%')</if>
             <if test="rev != null and rev != ''"> and REV_ like concat('%',#{rev},'%')</if>
             <if test="executionId != null and executionId != ''"> and EXECUTION_ID_ like concat('%',#{executionId},'%')</if>
             <if test="procInstId != null and procInstId != ''"> and PROC_INST_ID_ like concat('%',#{procInstId},'%')</if>
             <if test="procDefId != null and procDefId != ''"> and PROC_DEF_ID_ like concat('%',#{procDefId},'%')</if>
             <if test="name != null and name != ''"> and NAME_ like concat('%',#{name},'%')</if>
             <if test="parentTaskId != null and parentTaskId != ''"> and PARENT_TASK_ID_ like concat('%',#{parentTaskId},'%')</if>
             <if test="description != null and description != ''"> and DESCRIPTION_ like concat('%',#{description},'%')</if>
             <if test="taskDefKey != null and taskDefKey != ''"> and TASK_DEF_KEY_ like concat('%',#{taskDefKey},'%')</if>
             <if test="owner != null and owner != ''"> and OWNER_ like concat('%',#{owner},'%')</if>
             <if test="assignee != null and assignee != ''"> and ASSIGNEE_ like concat('%',#{assignee},'%')</if>
             <if test="delegation != null and delegation != ''"> and DELEGATION_ like concat('%',#{delegation},'%')</if>
             <if test="priority != null and priority != ''"> and PRIORITY_ like concat('%',#{priority},'%')</if>
             <if test="createTime != null and createTime != ''"> and CREATE_TIME_ like concat('%',#{createTime},'%')</if>
             <if test="dueDate != null and dueDate != ''"> and DUE_DATE_ like concat('%',#{dueDate},'%')</if>
             <if test="category != null and category != ''"> and CATEGORY_ like concat('%',#{category},'%')</if>
             <if test="suspensionState != null and suspensionState != ''"> and SUSPENSION_STATE_ like concat('%',#{suspensionState},'%')</if>
             <if test="tenantId != null and tenantId != ''"> and TENANT_ID_ like concat('%',#{tenantId},'%')</if>
             <if test="formKey != null and formKey != ''"> and FORM_KEY_ like concat('%',#{formKey},'%')</if>
         </where>
    </select>
    
    <select id="selectRuTaskById" parameterType="String" resultMap="RuTaskResult">
        <include refid="selectRuTaskVo"/>
        where ID_ = #{id}
    </select>
        
    <insert id="insertRuTask" parameterType="RuTask">
        insert into act_ru_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null  and id != ''  ">ID_,</if>
           <if test="rev != null  ">REV_,</if>
           <if test="executionId != null  and executionId != ''  ">EXECUTION_ID_,</if>
           <if test="procInstId != null  and procInstId != ''  ">PROC_INST_ID_,</if>
           <if test="procDefId != null  and procDefId != ''  ">PROC_DEF_ID_,</if>
           <if test="name != null  and name != ''  ">NAME_,</if>
           <if test="parentTaskId != null  and parentTaskId != ''  ">PARENT_TASK_ID_,</if>
           <if test="description != null  and description != ''  ">DESCRIPTION_,</if>
           <if test="taskDefKey != null  and taskDefKey != ''  ">TASK_DEF_KEY_,</if>
           <if test="owner != null  and owner != ''  ">OWNER_,</if>
           <if test="assignee != null  and assignee != ''  ">ASSIGNEE_,</if>
           <if test="delegation != null  and delegation != ''  ">DELEGATION_,</if>
           <if test="priority != null  ">PRIORITY_,</if>
           <if test="createTime != null  ">CREATE_TIME_,</if>
           <if test="dueDate != null  ">DUE_DATE_,</if>
           <if test="category != null  and category != ''  ">CATEGORY_,</if>
           <if test="suspensionState != null  ">SUSPENSION_STATE_,</if>
           <if test="tenantId != null  and tenantId != ''  ">TENANT_ID_,</if>
           <if test="formKey != null  and formKey != ''  ">FORM_KEY_,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null  and id != ''  ">#{id},</if>
        <if test="rev != null  ">#{rev},</if>
        <if test="executionId != null  and executionId != ''  ">#{executionId},</if>
        <if test="procInstId != null  and procInstId != ''  ">#{procInstId},</if>
        <if test="procDefId != null  and procDefId != ''  ">#{procDefId},</if>
        <if test="name != null  and name != ''  ">#{name},</if>
        <if test="parentTaskId != null  and parentTaskId != ''  ">#{parentTaskId},</if>
        <if test="description != null  and description != ''  ">#{description},</if>
        <if test="taskDefKey != null  and taskDefKey != ''  ">#{taskDefKey},</if>
        <if test="owner != null  and owner != ''  ">#{owner},</if>
        <if test="assignee != null  and assignee != ''  ">#{assignee},</if>
        <if test="delegation != null  and delegation != ''  ">#{delegation},</if>
        <if test="priority != null  ">#{priority},</if>
        <if test="createTime != null  ">#{createTime},</if>
        <if test="dueDate != null  ">#{dueDate},</if>
        <if test="category != null  and category != ''  ">#{category},</if>
        <if test="suspensionState != null  ">#{suspensionState},</if>
        <if test="tenantId != null  and tenantId != ''  ">#{tenantId},</if>
        <if test="formKey != null  and formKey != ''  ">#{formKey},</if>
         </trim>
    </insert>
	 
    <update id="updateRuTask" parameterType="RuTask">
        update act_ru_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="rev != null  ">REV_ = #{rev},</if>
            <if test="executionId != null  and executionId != ''  ">EXECUTION_ID_ = #{executionId},</if>
            <if test="procInstId != null  and procInstId != ''  ">PROC_INST_ID_ = #{procInstId},</if>
            <if test="procDefId != null  and procDefId != ''  ">PROC_DEF_ID_ = #{procDefId},</if>
            <if test="name != null  and name != ''  ">NAME_ = #{name},</if>
            <if test="parentTaskId != null  and parentTaskId != ''  ">PARENT_TASK_ID_ = #{parentTaskId},</if>
            <if test="description != null  and description != ''  ">DESCRIPTION_ = #{description},</if>
            <if test="taskDefKey != null  and taskDefKey != ''  ">TASK_DEF_KEY_ = #{taskDefKey},</if>
            <if test="owner != null  and owner != ''  ">OWNER_ = #{owner},</if>
            <if test="assignee != null  and assignee != ''  ">ASSIGNEE_ = #{assignee},</if>
            <if test="delegation != null  and delegation != ''  ">DELEGATION_ = #{delegation},</if>
            <if test="priority != null  ">PRIORITY_ = #{priority},</if>
            <if test="createTime != null  ">CREATE_TIME_ = #{createTime},</if>
            <if test="dueDate != null  ">DUE_DATE_ = #{dueDate},</if>
            <if test="category != null  and category != ''  ">CATEGORY_ = #{category},</if>
            <if test="suspensionState != null  ">SUSPENSION_STATE_ = #{suspensionState},</if>
            <if test="tenantId != null  and tenantId != ''  ">TENANT_ID_ = #{tenantId},</if>
            <if test="formKey != null  and formKey != ''  ">FORM_KEY_ = #{formKey},</if>
        </trim>
        where ID_ = #{id}
    </update>

	<delete id="deleteRuTaskById" parameterType="String">
        delete from act_ru_task where ID_ = #{id}
    </delete>
	
    <delete id="deleteRuTaskByIds" parameterType="String">
        delete from act_ru_task where ID_ in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>