<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datcent.project.module.template.mapper.TemplateMapper">
    
    <resultMap type="Template" id="TemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateUrl"    column="template_url"    />
        <result property="orderNum"    column="order_num"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="templateDocUrl"    column="template_docurl"    />
        <result property="oldName"  column="oldName"   />
        <result property="level"  column="level"   />
    </resultMap>
	
	<sql id="selectTemplateVo">
        select template_id, parent_id,`level`,ancestors,template_docurl, template_name,
        template_url, order_num,oldName,status, create_by, create_time, update_by, update_time,remark
        from sys_template
    </sql>
	
    <select id="selectTemplateList" parameterType="Template" resultMap="TemplateResult">
        <include refid="selectTemplateVo"/>
        <where>  
            <if test="templateId != null and templateId != ''"> and template_id like concat('%',#{templateId},'%')</if>
             <if test="parentId != null and parentId != ''"> and parent_id = #{parentId}</if>
             <if test="ancestors != null and ancestors != ''"> and ancestors like concat('%',#{ancestors},'%')</if>
             <if test="templateName != null and templateName != ''"> and template_name like concat('%',#{templateName},'%')</if>
             <if test="templateUrl != null and templateUrl != ''"> and template_url like concat('%',#{templateUrl},'%')</if>
             <if test="orderNum != null and orderNum != ''"> and order_num like concat('%',#{orderNum},'%')</if>
             <if test="createBy != null and createBy != ''"> and create_by like concat('%',#{createBy},'%')</if>
             <if test="createTime != null "> and create_time like concat('%',#{createTime},'%')</if>
             <if test="updateBy != null and updateBy != ''"> and update_by like concat('%',#{updateBy},'%')</if>
             <if test="updateTime != null and updateTime != ''"> and update_time like concat('%',#{updateTime},'%')</if>
            <if test="remark!=null and remark!=''">and remark like concat('%',#{remark},'%')</if>
            <if test="level!=null and level!=''">and level = #{level}</if>
         </where>
    </select>
    
    <select id="selectTemplateById" parameterType="String" resultMap="TemplateResult">
        <include refid="selectTemplateVo"/>
        where template_id = #{templateId}
    </select>
        
    <insert id="insertTemplate" parameterType="Template">
        insert into sys_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="templateId != null  and templateId != ''  ">template_id,</if>
           <if test="parentId != null  and parentId != ''  ">parent_id,</if>
           <if test="ancestors != null  and ancestors != ''  ">ancestors,</if>
           <if test="templateName != null  and templateName != ''  ">template_name,</if>
           <if test="templateUrl != null  and templateUrl != ''  ">template_url,</if>
           <if test="orderNum != null  ">order_num,</if>
           <if test="createBy != null  and createBy != ''  ">create_by,</if>
           <if test="createTime != null  ">create_time,</if>
           <if test="updateBy != null  and updateBy != ''  ">update_by,</if>
           <if test="updateTime != null  ">update_time,</if>
           <if test="templateDocUrl != null and templateDocUrl!='' ">template_docurl,</if>
            <if test="remark!=null and remark!=''">remark,</if>
            <if test="oldName!=null and oldName!=''">oldName,</if>
            <if test="level!=null and level!=''">`level`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="templateId != null  and templateId != ''  ">#{templateId},</if>
        <if test="parentId != null  and parentId != ''  ">#{parentId},</if>
        <if test="ancestors != null  and ancestors != ''  ">#{ancestors},</if>
        <if test="templateName != null  and templateName != ''  ">#{templateName},</if>
        <if test="templateUrl != null  and templateUrl != ''  ">#{templateUrl},</if>
        <if test="orderNum != null  ">#{orderNum},</if>
        <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
        <if test="createTime != null  ">#{createTime},</if>
        <if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
        <if test="updateTime != null  ">#{updateTime},</if>
        <if test="templateDocUrl != null and templateDocUrl!='' ">#{templateDocUrl},</if>
            <if test="remark!=null and remark!=''">#{remark},</if>
            <if test="oldName!=null and oldName!=''">#{oldName},</if>
            <if test="level!=null and level!=''">#{level},</if>
         </trim>
    </insert>
	 
    <update id="updateTemplate" parameterType="Template">
        update sys_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null  and parentId != ''  ">parent_id = #{parentId},</if>
            <if test="ancestors != null  and ancestors != ''  ">ancestors = #{ancestors},</if>
            <if test="templateName != null  and templateName != '' ">template_name = #{templateName},</if>
            <if test="templateUrl != null  and templateUrl != '' ">template_url = #{templateUrl},</if>
            <if test="orderNum != null  ">order_num = #{orderNum},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="templateDocUrl != null and templateDocUrl!='' ">template_docurl = #{templateDocUrl},</if>
            <if test="remark!=null and remark!=''">remark=#{remark},</if>
            <if test="oldName!=null and oldName!=''">oldName = #{oldName},</if>
            <if test="level!=null and level!=''">`level` = #{level},</if>
        </trim>
        where template_id = #{templateId}
    </update>

	<delete id="deleteTemplateById" parameterType="String">
        delete from sys_template where template_id = #{templateId}
    </delete>
	
    <delete id="deleteTemplateByIds" parameterType="String">
        delete from sys_template where template_id in 
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>
    <select id="selectSecondTree" resultMap="TemplateResult">
        select * from sys_template where parent_id = (
        select template_id from sys_template where parent_id='0')
    </select>
</mapper>