<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style type="text/css">
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="col-sm-12 select-info search-collapse">
        <form id="case" class="form-horizontal">
            <div class="form-group select-info-container">
                <div class="col-sm-4">
                    <label>被反映人：</label>
                    <input type="text"  name="jbxxCbrName">
                </div>
                <div class="col-sm-4">
                    <label>经办法院：</label>
                    <select name="jbfyId" id="jbfyId">
                        <option value="">请选择</option>
                        <option th:each="deptList:${deptList}" th:value="${deptList.cid}"
                                th:text="${deptList.deptName}"></option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>承办庭：</label>
                    <input type="text"  name="jbxxCbtName">
                </div>

            </div>
            <div class="form-group select-info-container">
                <div class="col-sm-12 select-info-btn">
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="initSimpleTabl.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="formComponent.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 select-table table-striped">
        <table class="statisticsTable" id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:dubvioEvent:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:dubvioEvent:remove')}]];
    var releaseFlag = [[${@permission.hasPermi('module:processMatter:addDubvioEvent')}]];
    var listFlag = [[${@permission.hasPermi('module:dubvioEvent:list')}]];
    var datas_18 = [[${@dict.getType('risks_grades')}]];
    var prefix = ctx + "module/statistics";
    $(function() {
        var options = {
            url: prefix + "/suspectsByManData",
            search: false,
            showFooter: true,
            queryParams: queryParams,
            columns: [
                {
                    field : 'name',
                    title : '被反映人',
                },
                {
                    field : 'court',
                    title : '所属法院',
                    width : "140",
                },
                {
                    field : 'dept',
                    align: 'center',
                    title : '承办庭',

                }, {
                    field : 'ms',
                    title : '民事',
                    formatter:function(value,row,index){
                        if (row.ms==0){
                            return "<font >"+row.ms+"</font>";
                        }else {
                            return "<a style='text-decoration:none' onclick='clueDetail(\"民事\",\""+row.id+"\")' ><font color='blue'>" + row.ms +"</font></a>";
                        }
                    },
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].ms);
                        }
                        return "民事：" + sumBalance;
                    }
                }, {
                    field : 'xs',
                    title : '刑事',
                    formatter:function(value,row,index){
                        if (row.xs==0){
                            return "<font >"+row.xs+"</font>";
                        }else {
                            return "<a style='text-decoration:none' onclick='clueDetail(\"刑事\",\""+row.id+"\")' ><font color='blue'>" + row.xs +"</font></a>";
                        }
                    },
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].xs);
                        }
                        return "刑事：" + sumBalance;
                    }
                }, {
                    field : 'xz',
                    title : '行政',
                    formatter:function(value,row,index){
                        if (row.xz==0){
                            return "<font >"+row.xz+"</font>";
                        }else {
                            return "<a style='text-decoration:none' onclick='clueDetail(\"行政\",\""+row.id+"\")' ><font color='blue'>" + row.xz +"</font></a>";
                        }
                    },
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].xz);
                        }
                        return "行政：" + sumBalance;
                    }
                }, {
                    field : 'zx',
                    title : '执行',
                    formatter:function(value,row,index){
                        if (row.zx==0){
                            return "<font >"+row.zx+"</font>";
                        }else {
                            return "<a style='text-decoration:none' onclick='clueDetail(\"执行\",\""+row.id+"\")' ><font color='blue'>" + row.zx +"</font></a>";
                        }
                    },
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].zx);
                        }
                        return "执行：" + sumBalance;
                    }

                }, {
                    field: 'total',
                    title: '被反映次数',
                    align: 'center',
                    formatter: function (value, row, index) {
                        if(row.tota == 0 ){
                            return "<font >"+row.tota+"</font>";
                        }else{
                            return "<a style='text-decoration:none' onclick='clueDetail(\"\",\""+row.id+"\")'><font color='blue'>" + row.total + "</font></a>";
                        }
                    },
                    footerFormatter:function (value) {
                        var sumBalance = 0;
                        for (var i in value) {
                            sumBalance += parseFloat(value[i].total);
                        }
                        return "总数：" + sumBalance;
                    }
                },
            ]
        };
        initSimpleTabl.init(options);
    });

    function queryParams(params) {
        return {
            pageSize:       params.limit,
            pageNum:        params.offset / params.limit + 1,
            searchValue:    params.search,
        };
    }
    function clueDetail(jbxxAjlb, jbxxCbrId) {
        var url = prefix + '/getDimListPage?jbxxAjlb=' + jbxxAjlb + "&jbxxCbrId=" + jbxxCbrId;
        createMenuItem(url, "线索详情");
    }
</script>
</body>
</html>
