<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    table {
        table-layout: fixed;
    }
</style>
<body class="gray-bg">
    <div class="container-div">
        <div class="col-sm-12 select-info search-collapse">
            <form id="case" class="form-horizontal">
              <div class="form-group select-info-container">
                  <div class="col-sm-4">
                      <label>知识标题：</label>
                      <input type="text"  name="knowledgeTitle">
                  </div>
                  <div class="col-sm-4 select-info-btn">
                      <a class="btn btn-primary btn-rounded btn-sm" onclick="initSimpleTabl.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                      <a class="btn btn-warning btn-rounded btn-sm" onclick="formComponent.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                  </div>
              </div>

            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-select">
				<span id="exportToolbar" class="btn-group" style="width: 110px; display: inline-block">
					<select id="sel_exportoption" class="">
						<option value="">导出当页数据</option>
						<option value="all">导出全部数据</option>
						<option value="selected">导出选中数据</option>
					</select>
				</span>
            </a>
        </div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true" ></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "module/knowledgeClick";
        $(function() {
            var options = {
                url: prefix + "/list",
				search: false,
                columns: [{
		            checkbox: true
		        },
                {
                    field : 'knowledgeTitle',
                    title : '知识标题',
                    width:'60%',
                    formatter: function (value, row, index) {
                    return "<a style='text-decoration:none' title='" + row.knowledgeTitle + "' onclick='javascript:void(0)' class='words' >" +
                        "<p class='words'>" + row.knowledgeTitle + "</p></a>";
            }
                                    },
                {
                    field : 'clickDate',
                    title : '查看时间',
                    width:"20%"
                                    },
                {
                    field : 'clickUserName',
                    title : '查看人',
                    width:"20%"
                                    }]
            };
            initSimpleTabl.init(options);
        });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({elem: '#startTime_3', theme: 'molv'});
        laydate.render({elem: '#endTime_3', theme: 'molv'});
    });
    </script>
    <!--bootstrap-table-export数据导出-->
    <script type="text/javascript">
        $("#sel_exportoption").change(function () {
            //刷新参数设置
            $('#bootstrap-table').bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    </script>
</body>
</html>