<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<style type="text/css">
    /* 新增样式20190508 */
    .select2-container .select2-selection--single{height: 34px;}
    .select2-container--default .select2-selection--single{border: 1px solid #ddd;}
    .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 34px}
    .select2-container--default .select2-selection--multiple .select2-selection__choice {padding: 0px 5px;}
    .select-info-container input, .select-info-container select{width: 100%}
    /*.select2-container{height: 34px;line-height: 34px}*/
    .select2-container--default .select2-selection--multiple{height: 100%;width: 100%;border: 1px solid #ddd;}
    /* .select2-container .select2-selection--multiple{min-height: 34px}*/
    /*.select2-container--default .select2-selection--multiple .select2-selection__rendered{height: 34px; }*/
    .select2-container--default.select2-container--focus .select2-selection--multiple{border: 1px solid #ddd;}
    label.error{right: 30px;}
    /* 20190506 */
    .form-control-nowidth {
        background: #FFFFFF none;
        border: 1px solid #e5e6e7;
        border-radius: 5px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        font-size: 14px;
    }
    .form-control-noborder{
        background: #FFFFFF none;
        border-radius: 5px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        font-size: 14px;
        text-align: center;
    }
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="col-sm-12 select-info search-collapse">
        <form class="form-horizontal m" id="form-information-edit" th:object="${information}">
            <input type="hidden" name="taskId" th:field="*{taskId}">
            <input type="hidden" name="acId" id="acId" value="">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">任务名称：</label>
                        <div class="col-xs-10">
                            <input type="text" name="taskName" th:field="*{taskName}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">任务类型：</label>
                        <div class="col-sm-8">
                            <select id="taskType" name="taskType" th:with="type=${@dict.getType('task_type')}" class="form-control">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}" th:field="*{taskType}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">日程规划：</label>
                        <div class="col-sm-8">
                            <input type="text" class="col-xs-5 form-control-nowidth" id="taskPlanStartdate" placeholder="开始时间"
                                   name="taskPlanStartdate" th:field="*{taskPlanStartdate}"/>
                            <span class="col-xs-2 form-control-noborder">~</span>
                            <input type="text" class="col-xs-5 form-control-nowidth" id="taskPlanEnddate" placeholder="结束时间" name="taskPlanEnddate" th:field="*{taskPlanEnddate}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">指派给：</label>
                        <div class="col-sm-8">
                            <select id="taskProcessor" name="taskProcessor" class="form-control select2-hidden-accessible"  multiple="">
                                <option th:each="userList : ${userList}"
                                        th:text="${userList.user_name}" th:value="${userList.user_id}" th:selected="${userList.del_flag} eq '11' " th:disabled="${userList.status == '1'}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">提交给：</label>
                        <div class="col-sm-8">
                            <select id="submitter" name="submitter" class="form-control select2-hidden-accessible">
                                <option value="">请选择</option>
                                <option th:each="userRoleList : ${userRoleList}"
                                        th:text="${userRoleList.user_name}" th:value="${userRoleList.user_id}" th:selected="${userRoleList.select_flag} eq 'true' " th:disabled="${userRoleList.status == '1'}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">重要度：</label>
                        <div class="col-sm-8">
                            <select id="taskImportance" name="taskImportance" th:with="type=${@dict.getType('task_importance')}" class="form-control">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}" th:field="*{taskImportance}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">紧迫度：</label>
                        <div class="col-sm-8">
                            <select id="taskUrgency" name="taskUrgency" th:with="type=${@dict.getType('task_urgency')}" class="form-control">
                                <option value="">请选择</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}" th:field="*{taskUrgency}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">实际开始时间：</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="startTime" th:filed="*{taskStartdate}">
                            <input type="text" class="time-input form-control" id="taskStartdate" placeholder="实际开始时间"
                                   name="taskStartdate" th:field="*{taskStartdate}"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">实际结束时间：</label>
                        <div class="col-sm-8">
                            <input type="hidden" id="endTime" th:filed="*{taskEnddate}">
                            <input type="text" class="time-input form-control" id="taskEnddate" placeholder="实际结束时间"
                                   name="taskEnddate" th:field="*{taskEnddate}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">任务描述：</label>
                        <div class="col-xs-10">
                            <textarea rows="8" name="taskContent" th:field="*{taskContent}" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">任务总结：</label>
                        <div class="col-xs-10">
                            <textarea rows="8" id="taskEndContent" name="taskEndContent" th:field="*{taskEndContent}" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">上传任务附件：</label>
                        <div class="col-xs-10">
                            <input type="file" name="taskFile" style="border: none;width: 240px;float: left" id="taskFile" multiple="multiple" class="form-control">
                            <span style="color: red;float: left;padding-top: 10px">最大限制为50M</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">上传总结附件：</label>
                        <div class="col-xs-10">
                            <input type="file" name="overFile" style="border: none;width: 240px;float: left" id="overFile" multiple="multiple" class="form-control">
                            <span style="color: red;float: left;padding-top: 10px">最大限制为50M</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" th:if="${size!=0}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">任务附件：</label>
                        <div class="col-sm-8">
                            <table id="table_file">
                                <tr th:if="${accessoryList} ne null" th:each="accessoryList:${accessoryList}">
                                    <td th:text="${accessoryList.accessoryOldname}"></td>
                                    <td>
                                        <a th:href="@{/module/accessory/downLoad(path=${accessoryList.accessoryUrl},oldName=${accessoryList.accessoryOldname})}">下载</a>
                                        <a style="margin-left: 5px" th:attr="data-id=${accessoryList.accessoryId}" href="javascript:void(0)" class="accessoryDel">删除</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" th:if="${endSize!=0}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">完成附件：</label>
                        <div class="col-sm-8">
                            <table id="endTaskFile">
                                <tr th:if="${endTaskAccessories} ne null" th:each="endTaskAccessories:${endTaskAccessories}">
                                    <td th:text="${endTaskAccessories.accessoryOldname}"></td>
                                    <td>
                                        <a th:href="@{/module/accessory/downLoad(path=${endTaskAccessories.accessoryUrl},oldName=${endTaskAccessories.accessoryOldname})}">下载</a>
                                        <a style="margin-left: 5px" th:attr="data-id=${endTaskAccessories.accessoryId}" href="javascript:void(0)" class="accessoryDel">删除</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="form-control-static col-sm-offset-5">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#taskPlanStartdate',
            theme: 'molv',
        });
        laydate.render({elem: '#taskPlanEnddate', theme: 'molv'});
        laydate.render({
            elem: '#taskStartdate',
            theme: 'molv',
        });
        laydate.render({
            elem: '#taskEnddate',
            theme: 'molv',
        });
    });

    var prefix = ctx + "module/information"
    $("#form-information-edit").validate(
        {
            submitHandler: function (form) {
                tj();
            }
        }
    );

    function tj(){
        var isok = check();
        if(isok == false){
            return false;
        }
        $.modal.loading("正在处理中，请稍后...");
        $('#form-information-edit').ajaxSubmit({
            forceSync: false,
            url: prefix +'/edit',
            type: 'post',
            data:{
                // "taskProcessors":taskProcessors,
                // "submitter":submitter
            },
            success: function(result){
                if (result.code == statusCode.web_status.SUCCESS) {
                    $.modal.close();
                    window.parent.$.modal.msgSuccess("保存成功,正在刷新数据请稍后……");
                    if(window.parent.document.getElementById("bootstrap-table")){
                        window.parent.$.table.refresh();
                    }else{
                        window.parent.$.table.refreshEdit('bootstrap-table_task_three',ctx + 'module/information/main')
                    }
                } else {
                    modalComponent.alertError(result.msg);
                }
                modalComponent.closeLoading();
            },
            error: function(response){
                modalComponent.alertError('系统错误');
                modalComponent.closeLoading();
            }
        });
        return false;
    }



    function check(){
        var taskType = $("#taskType").val();
        var taskProcessor = $.form.selectSelects("taskProcessor");
        var taskName = $("#taskName").val();
        var taskImportance = $("#taskImportance").val();
        var taskUrgency = $("#taskUrgency").val();
        var taskPlanStartdate = $("#taskPlanStartdate").val();
        var taskPlanEnddate = $("#taskPlanEnddate").val();
        var taskContent = $("#taskContent").val();
        if(taskName == null || taskName == ""){
            $.modal.msgError("任务名称不能为空");
            return false;
        }
        if(taskType == null || taskType == ""){
            $.modal.msgError("任务类型不能为空");
            return false;
        }
        if(taskPlanStartdate!="" && taskPlanEnddate!=""){
            var ps = new Date(taskPlanStartdate.replace("-","/"));
            var pe = new Date(taskPlanEnddate.replace("-","/"));
            if(pe<ps){
                $.modal.msgError('日程规划结束时间不能小于开始时间')
                return false;
            }
        }
        var submitter = $.form.selectSelects("submitter");
        // if(taskProcessor == "" && submitter == "" ){
        //     $.modal.alertError("指派给，提交给必须选中其中一个");
        //     return false;
        // }

        if(taskImportance == null || taskImportance == ""){
            $.modal.msgError("重要度不能为空");
            return false;
        }
        if(taskUrgency == null || taskUrgency == ""){
            $.modal.msgError("紧迫度不能为空");
            return false;
        }
        if(taskPlanStartdate == null || taskPlanStartdate == ""){
            $.modal.msgError("日程规划开始时间不能为空");
            return false;
        }
        if(taskPlanEnddate == null || taskPlanEnddate == ""){
            $.modal.msgError("日程规划结束时间不能为空");
            return false;
        }

        var taskStartdate = $("#taskStartdate").val();
        var taskEnddate = $("#taskEnddate").val();
        if (taskEnddate!=''&& taskStartdate == ''){
            $.modal.alertError("实际开始时间不能为空")
            return false;
        }

        if(taskEnddate!='' && taskStartdate!=''){
            var ps = new Date(taskStartdate.replace("-","/"));
            var pe = new Date(taskEnddate.replace("-","/"));
            if(pe<ps){
                $.modal.msgError('实际结束时间不能小于开始时间')
                return false;
            }
        }
        if(taskProcessor == '' && (taskStartdate !='' || taskEnddate!='')){
            $.modal.msgError('指派给为空，实际开始时间/实际结束时间无法填写！')
            return false;
        }
        if(taskContent==null || taskContent==''){
            $.modal.msgError("任务内容不能为空");
            return false;
        }
        var taskFile = document.getElementById("taskFile")
        var overFile = document.getElementById("overFile")
        if(taskFile){
            return imgTypeSize("taskFile",50);
        }
        if(overFile){
            return imgTypeSize("overFile",50);
        }
        return true;
    }

    function imgTypeSize(FileId, maxsize) {
        var imgFile = document.getElementById(FileId).files;
        var sumSize = 0;
        for(var i=0;i<imgFile.length;i++){
            sumSize=imgFile[i].size+sumSize;
        }
        if (sumSize > (1024 * 1024 * maxsize)) {
            $.modal.msgError("大小不能超过" + maxsize + "M");
            return false;
        }
    };

    $(document).on("click",".accessoryDel",function(){
        debugger;
        var id = $(this).data(id).id;
        var doc = $(this).parent().parent();
        var taskId = $("#taskId").val();
        $.ajax({
            url:ctx+'module/accessory/remove?ids='+id,
            type:'post',
            data:{"taskId":taskId,"ids":id},
            success:function (result) {
               doc.remove();
            },
            error:function(data){
               $.modal.msgWarning(data)
            }
        });
    });

</script>
</body>
</html>