<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="col-sm-12 select-info search-collapse">
        <form class="form-horizontal m" id="form-information-startTask">
            <input type="hidden" name="taskId" id="taskId" th:value="${taskId}">
            <div class="form-group">
                <label class="col-sm-3 control-label">完成时间：</label>
                <div class="col-sm-8 select-time select-info-container">
                    <input type="text" class="time-input" id="taskEnddate" placeholder="完成时间"
                           name="taskEnddate" th:value="${date}"/>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" id="taskEndContent" name="taskEndContent">
                <label class="col-sm-3 control-label">完成备注：</label>
                <div class="col-sm-8 select-info-container">
                    <div class="summernote" id="editor"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">附件：</label>
                <div class="col-sm-8">
                    <div id="easyContainer"></div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">历史日志：</label>-->
                <!--<div class="col-sm-8 select-info-container">-->
                    <!--<table class="table table-form table-fixed">-->
                        <!--<tbody>-->
                        <!--<tr th:each="list,jourStat:${journalList}">-->
                            <!--<td th:text="${jourStat.index+1}"></td>-->
                            <!--<td th:text="${list.journalCreatedate}"></td>-->
                            <!--<td th:text="${list.journalContent}"></td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="form-control-static col-sm-offset-5">
                    <button type="button" onclick="endTask()" class="btn btn-primary">完成</button>
                    <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
                </div>
            </div>
        </form>
        </table>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
<script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.cookie-1.4.1.min.js}"></script>
<!--上传文件插件-->
<script type="text/javascript" th:src="@{/js/easyUpload.js}"></script>
<script type="text/javascript">

    $(function () {
        $('.summernote').summernote({
            height: '220px',
            lang: 'zh-CN'
        });
        var taskId = $("#taskId").val();
        $('#easyContainer').easyUpload({
            allowFileTypes: '*.jpg;*.doc;*.pdf;.docx;.png;.xls',//允许上传文件类型，格式';*.doc;*.pdf'
            allowFileSize: 100000,//允许上传文件大小(KB)
            selectText: '选择文件',//选择文件按钮文案
            multi: true,//是否允许多文件上传
            multiNum: 5,//多文件上传时允许的文件数
            showNote: true,//是否展示文件上传说明
            note: '提示：最多上传5个文件，支持格式为jpg,png,pdf,doc,xls等',//文件上传说明
            showPreview: true,//是否显示文件预览
            url:ctx + 'module/accessory/upload?isFlag=1&taskId='+taskId,//上传文件地址
            fileName: 'file',//文件filename配置参数
            formParam: {
                token: $.cookie('token_cookie')//不需要验证token时可以去掉
            },//文件filename以外的配置参数，格式：{key1:value1,key2:value2}
            timeout: 30000,//请求超时时间
            okCode: 0,//与后端返回数据code值一致时执行成功回调，不配置默认200
            successFunc: function (res) {
                //console.log('成功回调', res);
                var cId = $("#acId").val(JSON.stringify(res.success));
            },//上传成功回调函数
            errorFunc: function (res) {
                console.log('失败回调', res);
            },//上传失败回调函数
            deleteFunc: function (res) {
                console.log('删除回调', res);
            }//删除文件回调函数
        });

    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({elem: '#taskEnddate', theme: 'molv'});


    });

    function endTask(){
        var sHTML = $('.summernote').code();
        $("#taskEndContent").val(sHTML);
        $.operate.save(ctx + "module/information/endTaskUpdate", $('#form-information-startTask').serialize());
    }


</script>
</body>
</html>
