<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<script>
    var myData = {
        id: "main",
        title: "访问数据",
        axisData: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
        seriesData: [
            {name: '邮件营销', data: [120, 132, 101, 134, 120, 230, 210]},
            {name: '联盟广告', data: [220, 182, 191, 234, 290, 330, 310]},
            {name: '视频广告', data: [150, 212, 201, 154, 190, 330, 410]},
            {name: '直接访问', data: [320, 302, 301, 334, 390, 330, 320]},
            {name: '搜索引擎', data: [820, 832, 901, 934, 1290, 1330, 1320]}
        ]
    };
</script>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="col-sm-12 select-info search-collapse">
        <form class="form-horizontal m" id="form-diagramSubgroup-add">
            <input type="hidden" th:value="${addSubgroupId}" id="addSubgroupId"/>
            <input type="hidden" th:value="${subgroupId}" id="selSubgroupId"/>
            <div class="form-group select-info-container">
                <div class="col-sm-6">
                    <label>组件名称：</label>
                    <select class="select" id="subgroupId" name="subgroupId" placeholder="请选择图表类型"
                            onchange="select_pic(this.options[this.options.selectedIndex].value)">
                        <option value="bar" label="条形统计图">
                        </option>
                        <option value="pie" label="扇形统计图">
                        </option>
                        <option value="line" label="折线统计图">
                        </option>
                    </select>
                </div>
            </div>
            <div id="main" class="chart" style="height:300px;border: 1px solid #ccc; padding: 10px;"></div>
            <div class="form-group">
                <div class="form-control-static col-sm-offset-5">
                    <button onclick="bindsubgroup()" type="button" class="btn btn-primary">提交</button>
                    <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="include::footer"></div>
</div>
</body>
<script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
<script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script th:src="@{/datcent/component/charts/pieCharts.js}"></script>
<script th:src="@{/datcent/component/charts/lineCharts.js}"></script>
<script th:src="@{/datcent/component/charts/barCharts.js}"></script>
<script type="text/javascript">

    $('.summernote').summernote({
        height: '220px',
        lang: 'zh-CN'
    });


    var prefix = ctx + "tool/diagramSubgroup"
    $("#form-diagramSubgroup-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        submitHandler: function (form) {
            operateComponent.save(prefix + "/add", $('#form-diagramSubgroup-add').serialize());
        }
    });
    function bindsubgroup() {
        var sub =parent.$("#"+$("#addSubgroupId").val());
        sub.empty();
        sub.append($("#main"));
        parent.$("#"+$("#selSubgroupId").val()).val($("#subgroupId").val())
        $.modal.close()
    }

</script>
<script>
    var myChart;
    function select_pic(val) {
        if (!myData) {
            document.getElementById("main").innerHTML = "暂无数据";
        } else {
            myChart = echarts.init(document.getElementById(myData.id));
            if (val == "bar") {
                myChart.clear();
                myChart.setOption(option3)
            } else if (val == "line") {
                myChart.clear();
                myChart.setOption(option2)
            } else if (val == "pie") {
                myChart.clear();
                myChart.setOption(option1)
            }
        }
    }

    $("#button").click(function () {
        var i = myChart.getDataURL({
            type: 'png',
            backgroundColor: '#676a6c'
            // 导出的图片分辨率比例，默认为 1。
            //pixelRatio: number,
        });
        $(this).attr("href", i);
        $(this).attr("download", "test.png");
    });
    window.addEventListener("resize", function () {
        myChart.resize();
    });

</script>

</html>
