<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
        <div class="col-sm-12 select-info search-collapse">
            <form id="case" class="form-horizontal">
              <div class="form-group select-info-container">
                  <div class="col-sm-4">
                      <label>id：</label>
                      <input type="text"  name="id">
                  </div>
                  <div class="col-sm-4">
                      <label>布局ID：</label>
                      <input type="text"  name="diagram_id">
                  </div>
                  <div class="col-sm-4">
                      <label>组件ID：</label>
                      <input type="text"  name="subgroup_id">
                  </div>
               </div>
              <div class="form-group select-info-container">
                  <div class="col-sm-4">
                      <label>创建时间：</label>
                      <input type="text"  name="create_time">
                  </div>
              </div>
                <div class="form-group select-info-container">
                    <div class="col-sm-12 select-info-btn">
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="initSimpleTabl.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        <a class="btn btn-warning btn-rounded btn-sm" onclick="formComponent.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                    </div>
                </div>
            </form>
        </div>
		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
			<a class="btn btn-success" onclick="operateComponent.add('tool/diagramSubgroup/add','组图组件关系')" shiro:hasPermission="tool:diagramSubgroup:add">
				<i class="fa fa-plus"></i> 新增
			</a>
            <a class="btn btn-primary btn-detail disabled" onclick="$.operate.detail()" shiro:hasPermission="tool:diagramSubgroup:detail">
                <i class="fa fa-plus"></i> 详细
            </a>
            <a class="btn btn-warning btn-edit disabled" onclick="operateComponent.edit('','tool/diagramSubgroup/edit/{id}','组图组件关系')" shiro:hasPermission="tool:diagramSubgroup:edit">
                <i class="fa fa-plus"></i> 编辑
            </a>
			<a class="btn btn-danger btn-del disabled" onclick="operateComponent.removeAll('tool/diagramSubgroup/remove')" shiro:hasPermission="tool:diagramSubgroup:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('tool:diagramSubgroup:edit')}]];
        var removeFlag = [[${@permission.hasPermi('tool:diagramSubgroup:remove')}]];
        var prefix = ctx + "tool/diagramSubgroup";
        $(function() {
            var options = {
                url: prefix + "/list",
				search: false,
                columns: [{
		            checkbox: true
		        },
                {
                    field : 'id',
                    title : 'id'
                },
                {
                    field : 'diagramId',
                    title : '布局ID'
                },
                {
                    field : 'subgroupId',
                    title : '组件ID'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="operateComponent.edit(\'' + row.id + '\'\,\'tool/diagramSubgroup/edit/{id}\'\,\'组图组件关系\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="operateComponent.remove(\'' + row.id + '\'\,\'tool/diagramSubgroup/remove\'\,\'组图组件关系\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            initSimpleTabl.init(options);
        });


    </script>
</body>
</html>